In [27]:
# taking Input from user and storing it in variable

input()

123

'123'

In [29]:
a=input()

print(a)

34
34

In [31]:
# WAP to take two numbers from user and Add them

''' Without typecasting + acts as a concat '''

a = input('enter first number: ')
b = input('enter second number: ')

print(a+b)

print(type(a))

enter first number: 5
enter second number: 10
510
<class 'str'>

In [32]:
''' To perform addition use typecasting '''

a=int(input('enter first number: '))
b=int(input('enter second number: '))

print(a+b)
print(type(a))

enter first number: 30
enter second number: 40
70
<class 'int'>

In [34]:
# (+) operator overloading

print(a+b)
print('a'+'b')

70
ab

In [35]:
# Format Specifier can also be used in Python just like C language to print(optional)

num=int(input('enter a number: '))
print(num)
print(type(num))
print('%d' %(num))

enter a number: 34
34
<class 'int'>
34

In [36]:
# (*) operator overloading

print(2*3)

print('2'*3)

6
222

In [37]:
# to get space while printing use comma(,)

print(5,6,7)

print('56789')

print('python',3,4)

5 6 7
56789
python 3 4

In [43]:
# alternatives for comma .... use sep=''

print(1,2,3,sep='!')

print(1,2,3,sep='')

# to print in the same line... use end=''  since by default python mei p rint next line mei hota hai

print(1,2,3, sep=',',end='!!')

1!2!3
123
1,2,3!!